* {
    font-family: Armata;
    color: rgb(56, 56, 56);
}
.navtext{
    font-size: 30px;
    margin-left: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    top:0px;
    left:0px;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: rgb(159, 101, 212);
}
.navtext{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    margin-right: 10px;
}
.textareadiv{
	display: flex;
	margin-top:100px;
	flex-direction: column;
	align-items: center;
}
.logout{
    position:fixed;
    top:10px;
    right:10px;
}
.logoutbutton{
    border: 0px;
    background-color: white;
    height:50px;
    width:100px;
}
.backbutton{
    border: 0px;
    background-color: white;
    color:red;
    width:80px;
    height:50px;
}